<div id="fullpage" class='container'>
	<div class="section" id='section1'>
		<div class="row">
			<div class="col-sm-12">
				<h1 id='title'>Sean Neale</h1>
			</div>
		</div>
	</div>
	<div class="section" id='section2'>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<p>My name is Sean Neale, I am have recently retrained as web developer taking the Web Development Immersive course at General Assembly in Hong Kong.  I have previously worked in the Geoexploration industry for TGS in Bedford, UK.  In 2015 I left the industry and moved to Hong Kong.  My wife was offered a great oppurtunity and I was ready to try something new.</br>I have decided to move into web development because it is a truly global industry with so much potential.  Using the same skills that meant I could build a game, I could build a social network or something to help those in need.  Another reason I have found it to be a good fit is that in my previous job I was required to use a limited amount of tools to achieve various aims, I might be using completely different tools now but the core application of logic to achieve a goal remains the same.</br>I have experience using the following languages and frameworks:
					<ul>
						<li>HTML, CSS</li>
						<li>JavaScript</li>
						<li>JQuery</li>
						<li>Bootstrap</li>
						<li>Node.js</li>
						<li>Ruby On Rails</li>
						<li>AngularJS</li>
						<li>Other smaller project specific tools such: feedparser, sidekiq, TMDB API</li>
					</ul>
				I bring to any job the following soft-skills:
					<ul>
						<li>Project Managment</li>
						<li>Client Communication</li>
						<li>Knowledge Sharing and Training</li>
						<li>Using New Technologies</li>
					</ul>
				</p>
				<a href='https://github.com/seanneale' target="_blank">
					<i class='fa fa-github fa-2x' aria-hidden="true"></i>
				</a>
				<a href='https://hk.linkedin.com/in/sean-neale-93017012a
' target="_blank">
					<i class="fa fa-linkedin-square fa-2x" aria-hidden="false"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="section" id='section3'>
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<h1>Premier Manager 2</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<p>Premier Manager 2 is a web-based football management game using real players and abilities based on real stats.  The aim is to pick to a team based on your squad and go on to win the league.  At the end of the first two weeks of the WDI course I built a much smaller version of this game entirely browser based.  When the end of the course came round I decided I wanted to have improve on this original project.  My aims for the second attempt were to:
						<ul>
							<li>The ability to save games</li>
							<li>To use real data to generate player info</li>
							<li>To allow the user to take part in multiple leagues</li>
							<li>To allow multiple users to take part in each game (Unfortunately I had to temporarily abandon this one in favour of finishing the single user experience</li>
						</ul>
						I used the following to build the game
						<ul>
							<li>HTML,CSS</li>
							<li>JavaScript</li>
							<li>Ruby On Rails</li>
							<li>Angular JS</li>
							<li>Sidekiq/Redis - Background jobs</li>
							<li>Official Fantasy Premier League Data</li>
							<li>Championship Manager/Football Manager for inspiration!</li>
						</ul>
						</p>
						<a href='https://github.com/seanneale/final-project' target="_blank">
							<i class='fa fa-github fa-2x' aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id='section4'>
		<div class="row">
			<div class="col-sm-6">
				<div class="hidden-xs row">
					<div class="col-sm-10 col-sm-offset-1">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque voluptas corporis, labore natus quo minus officiis nostrum odio quas quibusdam omnis, ratione neque consequatur cupiditate totam corrupti, consectetur molestias.</p>
						<a href='https://github.com/seanneale/couch-potato' target="_blank">
							<i class='fa fa-github fa-2x' aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<h1>Couch Potato</h1>
					</div>
				</div>
			</div>
			<div class="visible-xs col-sm-6">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque voluptas corporis, labore natus quo minus officiis nostrum odio quas quibusdam omnis, ratione neque consequatur cupiditate totam corrupti, consectetur molestias.</p>
						<a href='https://github.com/seanneale/couch-potato' target="_blank">
							<i class='fa fa-github fa-2x' aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id='section5'>
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<h1>The Listener</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque voluptas corporis, labore natus quo minus officiis nostrum odio quas quibusdam omnis, ratione neque consequatur cupiditate totam corrupti, consectetur molestias.</p>
						<a href='https://github.com/seanneale/project2-listener' target="_blank">
							<i class='fa fa-github fa-2x' aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>